body {
  margin: 0 auto;
  background-color: lightgrey;
}

.wrapper {
  background-color: white;
  padding: 30px 70px;
}

ul {
  text-align: center;
}

.content {
  overflow: auto;
}

.column1,
.column2,
.column3 {
  width: 31.3%;
  float: left;
}

.logo {
  color: black;
  font-family: 'Aclonica';
  font-size: 22px;

}

.nav li a {
  color: black;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}

.column1 {
  float: left;
}

.column2 {
  margin: 0% 3%;
}

.column3 {
  float: right;
  margin: 0%;
}


li {
  display: inline;
  padding: 0.5em;
}

.banner1 {
  display: flex;
  justify-content: space-between;
  background-color: #C1DCDC;
  border-radius: 25px;
  height: 511px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy1 {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 128px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 10000;
  font-size: 64px;
  line-height: 64px;
  padding-left: 50px;
  font-weight: bolder;
}

.buy2 {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  padding-left: 50px;
  padding-top: 50px;
}

.plant {
  font-size: 70px;

}

.column4 {
  display: flex;
  flex-direction: column;
}

.input1 {
  display: flex;
  width: 390px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 12px;
  margin-left: 50px;
  position: relative;
  justify-content: space-between;
}

.selling {
  display: flex;
  width: 100vw;
  padding-top: 50px;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;


}

.column5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.column5 img {
  width: 280.33px;
  background: url(.jpg);
  border-radius: 12px;
}

.column5 p {
  width: 140px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.column5 h1 {
  width: 81px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

}